body {
    background-color: #000000;
    margin: 100px;
}

.App {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    row-gap: 1em;
}

.movie-card {
    height: 200px;
    width: 200px;
}

.movie-card:hover{
    cursor: pointer;
}

.movie-image {
    height: 100%;
    width: 100%;
}

.movie-model {
    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 600px) {
    .movie-model {
        grid-template-columns: 300px auto;
        grid-auto-rows: 200px;
    }
}